@import url('custom.css');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}       
.header-right {
    float: right;
}
.navbar-fixed-top {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand {
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: -14px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: #f8f8f8;
    border-top: 1px solid #e6e6e6;
    padding-top:12px;
}
.footer1{
    width:100%;
}
.form-horizontal{
    margin-top:80px;
}
#input_btn_calendar {
    float: right;
    margin-top: -26px;
    margin-right: 10px;
}
.shadow-lg{
    margin-top:42px;
}
#shadow{
    margin-top:34px;
}
.search {
    margin-top: 110px;
    margin-left: 6px;
}
.search1 {
    margin-top: 110px;
    margin-left: 25px;
}
#submit1 {
    margin-left: 420px;
}
.btn-info.custom-btn {
    background-color: lightseagreen;
}
.link a {
    color: floralwhite;
}
thead th {
    background-color: darkblue;
    color: white;
}

.navbar-custom {
    background-color: darkblue;
}

.navbar-text {
    color: floralwhite;
}
.pagination-container {
    margin-left: 545px;
    margin-top:-56px;
}
#submit {
    margin-top: -4px;
    margin-left: 4px;
}

#addButton {
    margin-bottom: 12px;
    margin-top:-4px;
    float: right;
}
/*heading*/
.addEmp {
    color: darkblue;
    margin-top: 99px;
    margin-bottom: -93px;
    margin-left: 15px;
}
.editEmp {
    color: darkblue;
    margin-top: 99px;
    margin-bottom: -93px;
    margin-left: 15px;
}
.empDetail{
    margin-top:64px;
    color:darkblue;
}
.empList {
    color: darkblue;
    margin-top: 86px;
    margin-bottom: -93px;
    margin-left: 15px;
}
.addPrj {
    color: darkblue;
    margin-top: 99px;
    margin-bottom: -93px;
    margin-left: 15px;
}
.editPrj {
    color: darkblue;
    margin-top: 99px;
    margin-bottom: -93px;
    margin-left: 15px;
}
.prjDetail {
    margin-top: 64px;
    color: darkblue;
}

.prjList {
    color: darkblue;
    margin-top: 86px;
    margin-bottom: -93px;
    margin-left: 7px;
}
.dashboard {
    margin-top: -63px;
    color: darkblue;
    margin-bottom: 51px;
}
/*Dashboard.css*/
.panel-primary .panel-heading{
    border-radius:5px;
}
.panel.panel-custom {
    background-color: limegreen;
    border: 1px solid lightgreen;
    margin-top:-274px;
    border-radius:5px;
}
.panel.panel-Emp {
    background-color: orange;
    border: 1px solid orange;
    margin-top: -152px;
    border-radius: 5px;
}
#prjskl{
    margin-top:-31px;
}
.panel.panel-primary {
    background-color:lightblue;
    border: 1px solid lightblue;
    margin-top: -43px;
}
.panel.panel-skill {
    background-color: lightcoral;
    border: 1px solid pink;
    border-radius: 5px;
}
.panel-footer{
    background-color:white;
}
.fa.fa-user-circle{
    color: white;
    margin-left: 25px;
}
.fa.fa-tasks {
    color: white;
    margin-left: 25px;
}
.spantxt {
    margin-left: 210px;
    color: white;
}
.spntxt {
    color: white;
}
.huge{
    margin-top:10px;
}
.spntxt1 {
    margin-top: -55px;
    margin-left: 215px;
    color: white;
}
.tblclr{
    background-color:lightsalmon;
}
.panel.panel-default{
    margin-top:-36px;
}
.nav-tabs .nav-link{
    color:#007bff;
}
#tabs {
    margin-top: 102px;
    margin-left:506px;
}
@media screen and (min-width: 320px) {
    .navbar {
        width: 100%;
    }

    thead th {
        background-color: darkblue;
        color: white;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        width: 100%;
    }

}
