@import url('custom.css');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-right {
    float: right;
}
.navbar-fixed-top {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand {
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: -14px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: #f8f8f8;
    border-top: 1px solid #e6e6e6;
    padding-top:12px;
}
.footer1{
    width:100%;
}
.form-horizontal{
    margin-top:80px;
}
#input_btn_calendar {
    float: right;
    margin-top: -26px;
    margin-right: 10px;
}
.shadow-lg{
    margin-top:42px;
}
#shadow{
    margin-top:34px;
}
.search {
    margin-top: 100px;
    margin-left: 19px;
}
#submit1 {
    margin-left: 420px;
}
.btn-info.custom-btn {
    background-color: lightseagreen;
}
.link a {
    color: floralwhite;
}
thead th {
    background-color: darkblue;
    color: white;
}

.navbar-custom {
    background-color: darkblue;
}

.navbar-text {
    color: floralwhite;
}
.pagination-container {
    margin-left: 545px;
    margin-top:-56px;
}
#submit {
    margin-top: -4px;
    margin-left: 4px;
}

#addButton {
    margin-bottom: 12px;
    margin-top:-4px;
    float: right;
}
/*Dashboard.css*/
.panel.panel-custom {
    background-color: limegreen;
    border: 1px solid lightgreen;
    margin-top:40px;
}
.panel.panel-Emp {
    background-color: orange;
    border: 1px solid orange;
    margin-top: 40px;
}
#prjskl{
    margin-top:25px;
}
.panel.panel-primary {
    border: 1px solid lightblue;
    margin-top: 40px;
}
.panel.panel-skill{
    background-color:lightcoral;
    border:1px solid pink;
}
.panel-footer{
    background-color:white;
}
.fa.fa-user-circle{
    color: white;
    margin-left: 25px;
}
.fa.fa-tasks {
    color: white;
    margin-left: 25px;
}
.spantxt {
    margin-left: 210px;
    color: white;
}
.spntxt {
    color: white;
}
.huge{
    margin-top:10px;
}
.spntxt1 {
    margin-top: -55px;
    margin-left: 215px;
    color: white;
}
.sidebar-search{
    margin-left:836px;
}
.tblclr{
    background-color:lightsalmon;
}
.panel.panel-default{
    margin-top:25px;
}

@media screen and (min-width: 320px) {
    .navbar {
        width: 100%;
    }

    thead th {
        background-color: darkblue;
        color: white;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        width: 100%;
    }

}
