<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/PagedList.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-custom  navbar-static-top navbar-expand-lg navbar-dark" role="navigation" style="margin-bottom: 0">
            <a class="navbar-brand" href="#"> <img class="img-center" height="80" width="80" src="~/Images/images.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Employee/Index">Employee <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/EmpProject/Index">Project <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
        <footer class=" footer1 text-muted text-center">
            <div class="container" style="color:floralwhite;padding-top: 10px;">
                Copyright &copy; My ASP.NET Application @DateTime.Now.Year
            </div>
        </footer>
        <script src="~/js/jquery-3.5.1.min.js"></script>
        <script src="~/js/jquery-ui-1.12.1.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/custom.js"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
