<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" style="margin-right:-469px;" data-dismiss="modal">&times;</a>
                <h4 class="modal-title" style="margin-right:99px;">Delete Employee's Project Record</h4>
            </div>
            <div class="modal-body">
                <h4>Are You Sure?You Want To Delete This Record.</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteProject()">Confirm</a>
            </div>
        </div>
    </div>
</div>