@model IEnumerable<Assignment_06112020.Models.Employee>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>JoiningDate</th>
            <th>ReleaseDate</th>
            <th>Skils</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var md in Model)
        {
            <tr>
                <td>@md.Name </td>
                <td>@md.JoiningDate </td>
                <td>@md.ReleaseDate </td>
                <td>@md.Skils </td>
            </tr>
        }
    </tbody>
</table>
